.parent-upload {
  background-color: whitesmoke;
}
.header-text {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.button-all {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
